@import "./scss/reset_style.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$clr: black;

body{
  background-color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container{
  margin: auto;
  max-width: 1120px;
  position: relative;
  @media (max-width:1365px){
    padding:0 42px 0px 42px
  }
  @media (max-width:1023px){
    padding:0 34px 0px 34px
  }
  @media (max-width:765px){
    padding:0 20px 0px 20px
  }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 157px;
  button{
    border: none;
    outline: none; 
    background-color: transparent;
    cursor: default;
  }
}

.filters{
  display: flex;
  justify-content: space-between;
  align-items: top;
  z-index: 2;
  input{
    border-radius: 8px;
    color: $clr;
    height: 45px;
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border: none;
    border-radius: 0px;
    background-image: url('../public/Vector_for_light.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  .firstInput{
    border: 1px solid $clr;
    border-radius:8px
  }
  div{
    margin: 0 10px 0 10px;
    position: relative;
    border: 1px solid $clr;
    border-radius: 8px;
    width: 265px;
    height: 45px;
    overflow: hidden;
    z-index: 2;
    &:first-child{
      border:none;
      margin-left: 0px;
    }
    &:last-child{
      margin-right: 0px;
    }
  }
  @import "./scss/authorList.module.scss";
  @import "./scss/locationList.module.scss";
  li{
    padding: 16px 15px;
    overflow: auto;
  }
  @import "./scss/notFound.module.scss";
}
@import "./scss/wholeCreatedInput.module.scss";
    
@media (max-width:767px){
  .filters{
    flex-direction: column;
    div{
      width: 100%;
    }
    .theFirstInput{
      min-width: 280px;
      max-width: 700px;
      margin: 0 0 10px 0;
    }
    .authorParent{
      min-width: 280px;
      max-width: 700px;
      margin: 0 0 10px 0;
    }
    .LocationParent{
      min-width: 280px;
      max-width: 700px;
      margin: 0 0 10px 0;
    }
    .wholeCreatedInput{
      min-width: 280px;
      max-width: 700px;
      margin: 0;
    }
  }
}
.pics{
  position: absolute;
  top: 224px;
}
@import "./scss/blocks.module.scss";
@media (max-width:1365px){
  .blocks{
    max-width: 1120px;
    max-height: 980px;
    padding-right: 42px;
  }
}
@media (max-width:1023px){
  .blocks{
    max-width: 984px;
    max-height: 2175.81px;
    padding-right: 34px;
    grid-template-rows: repeat(6,0.65fr);
    grid-template-columns: repeat(2,1fr);
    .picBlocks{
      &:nth-child(2n+1){
        margin-left: 0px;
        margin-right: 10px;
      };
      &:nth-child(2n+2){
        margin-left: 10px;
        margin-right: 0px;
      };
    }
  }
}

@media (max-width:767px){
  .pics{
    position: relative;
    top: 45px
  }
  .blocks{
    min-width: 280px;
    min-height: 2680px;
    max-width: 767px;
    max-height: 7341.28px;
    padding-right: 0px;
    grid-template-rows: repeat(12,0.65fr);
    grid-template-columns: repeat(1,1fr);
    .picBlocks{
      &:nth-child(2n+1){
        margin-left: 0px;
        margin-right: 0px;
      };
      &:nth-child(2n+2){
        margin-left: 0px;
        margin-right: 0px;
      };
    }
  }
}
@import "./scss/pagination.module.scss";
