.notFound{
  display: relative;
  left: -8px;
  position: center;
  color: red;
  border-radius: 8px;
  background-color: #fde8e8;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  height: 45px;
  overflow: hidden;
}