.pagination{
  min-width: 287px;
  margin-top:35px;
  display: flex;
  align-items: top;
  padding-bottom: 100px;
  button{
    width: 41px;
    height: 41px;
    border-left: none; 
    background-color: transparent;
    &:first-child{
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child{
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
  .twoArrLeft{
    background-repeat: no-repeat;
    background-position: center;  
  }
  .arrLeft{
    background-repeat: no-repeat;
    background-position: center;
  }
  .arrRight{
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .twoArrRight{
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
    